# Visual Studio
.vs/
**/.vs/

# Build folders
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Compiled files
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.ipch

# Visual Studio user-specific files
*.user
*.suo